run = "python3 DailyReport/app.py"
modules = ["nodejs-20", "python-3.11"]

[[ports]]
localPort = 8080
externalPort = 80

[nix]
packages = ["freetype", "gitFull", "glibcLocales", "google-cloud-sdk", "jq", "mailutils", "nano", "playwright-driver", "zulu", "python39Packages.bootstrapped-pip", "imagemagick6", "docker-client", "dos2unix"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VA Bot Server"

[[workflows.workflow]]
name = "VA Bot Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
