# Core Web Framework
Flask==3.0.3
Fla==4.0.0
Flask-Limiter==3.6.0

# Scheduler & Automation
APScheduler==3.10.4
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.3

# PDF & Report Generation
reportlab==4.1.0
pdfkit==1.0.0
PyPDF2==3.0.1

# AI + Integration
openai==1.50.2
requests==2.32.3

# System + Rich Console
rich==14.2.0
gunicorn==23.0.0
playwright==1.48.0
